<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Planetas</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Planeta</th>
          <th>Diâmetro (km)</th>
          <th>Distância média do Sol</th>
        </tr>
      </thead>
      <tbody>
        <% planetas.forEach((planeta) => { %>
        <tr>
          <td><%= planeta.nome %></td>
          <td><%= planeta.diametro %></td>
          <td><%= planeta.distanciaSol %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
