<!DOCTYPE html>
<html lang="pr-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Novo Livro</h1>
    <form action="/livros" method="post">
      <label for="titulo"> Título: </label>
      <input
        id="titulo"
        type="text"
        name="titulo"
        placeholder="Animais Fantásticos"
        required
      />
      <input type="submit" value="Cadastrar" />
    </form>
  </body>
</html>
